<div class="blog-card spring-fever">
  <div class="title-content">
    <div class="intro">By <%= blog_post.user.email %></div>
  </div><!-- /.title-content -->
  <div class="card-info">
    <%= blog_post.body %>
  </div><!-- /.card-info -->
  <!-- overlays -->
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->
