<div class="blog-card spring-fever blog_post_body">
  <div class="title-content">
    <div class="intro user-name"><%= link_to blog_post.user.email, selected_user_profile_blog_post_path %></div>
  </div><!-- /.title-content -->
  <div class="card-info body_blog">
    <div class="fr-view"><%= raw blog_post.body %></div>
  </div><!-- /.card-info -->
  <!-- overlays -->
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->
