<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 bg-hash pull-right">
  <div class="row">
    <div>
      <!-- Nav tabs
      -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="presentation">
          <a aria-controls="home" data-toggle="tab" href="#home" role="tab">Home</a>
        </li>
        <li role="presentation">
          <a aria-controls="reader" data-toggle="tab" href="#reader" role="tab">Reader</a>
        </li>
      </ul>
    </div>
  </div>
</div>
